/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store
.iex.exs

# The xml downloaded from Unicode
/downloads

# Generated erlang source
/src/*.erl

# asdf
.tool-versions

# Don't store the dictionaries
/priv/dictionaries/*.txt

# Mise
mise.toml

# Benchmark-only ICU NIF build artefact
benchee/icu/*.so

c_src/*.o
c_src/env.mk
priv/*.so
